* {
  font-family: "Verdana", sans-serif;
}
.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 8px solid #d1914b;
  box-sizing: border-box;
  --c: no-repeat radial-gradient(farthest-side, #d64123 94%, #0000);
  --b: no-repeat radial-gradient(farthest-side, #000 94%, #0000);
  background: var(--c) 11px 15px, var(--b) 6px 15px, var(--c) 35px 23px,
    var(--b) 29px 15px, var(--c) 11px 46px, var(--b) 11px 34px,
    var(--c) 36px 0px, var(--b) 50px 31px, var(--c) 47px 43px,
    var(--b) 31px 48px, #f6d353;
  background-size: 15px 15px, 6px 6px;
  animation: l4 3s infinite;
}
@keyframes l4 {
  0% {
    -webkit-mask: conic-gradient(#0000 0, #000 0);
  }
  16.67% {
    -webkit-mask: conic-gradient(#0000 60deg, #000 0);
  }
  33.33% {
    -webkit-mask: conic-gradient(#0000 120deg, #000 0);
  }
  50% {
    -webkit-mask: conic-gradient(#0000 180deg, #000 0);
  }
  66.67% {
    -webkit-mask: conic-gradient(#0000 240deg, #000 0);
  }
  83.33% {
    -webkit-mask: conic-gradient(#0000 300deg, #000 0);
  }
  100% {
    -webkit-mask: conic-gradient(#0000 360deg, #000 0);
  }
}
.container {
  background-image: url("/Frame1.png"), url("/Vector3.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  height: 835px;
}

.header {
  margin-top: 70px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 40px;
}
.header a {
  z-index: 1100;
  position: relative;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.04em;

  color: #90939d;
}
.header a.active {
  color: #212121;
}
.calculator-container {
  display: flex;
  flex-direction: column;
  margin-top: 170px;
  margin-left: 20px;
  width: 600px;
}
.calculator-container h1 {
  font-weight: 700;
  font-size: 34px;
  line-height: 1.4;
  margin-bottom: 70px;
}

.form-calculator {
  display: flex;
  flex-wrap: wrap;
  gap: 17px;
}
.left-container {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}
.right-container {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}
.calculator-container label,
.login label,
.register label {
  margin-right: 10px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.04em;
  color: #9b9faa;
}

.calculator-container input {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.04em;
  margin-bottom: 10px;
  border: none;
  background: transparent;
  color: #9b9faa;
  outline: none;
  border-bottom: 1px solid #e0e0e0;
}

.blood-type-options {
  display: flex;
}
#bloodA,
#bloodB,
#bloodAB,
#blood0 {
  margin-right: 10px;
}

.calculator-button {
  justify-content: flex-end;
  margin: 30px 0;
  display: flex;
  align-items: center;
  border-radius: 30px;
  width: 210px;
  height: 20px;
  box-shadow: 0 4px 10px 0 rgba(252, 132, 45, 0.5);
  background: #fc842d;
  padding: 22px 18px;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
  cursor: pointer;
}
.modal-title {
  margin: 0 auto;
  border-bottom: 1px solid #9b9faa;
  text-align: center;
  font-weight: 700;
  font-size: 26px;
  line-height: 140%;
  color: #212121;
  width: 400px;
}
.modal-calories {
  font-weight: 700;
  font-size: 48px;
  letter-spacing: 0.04em;
  text-align: center;
  color: #264061;
}
.modal-p {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.04em;
  color: #212121;
}
.modal-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-right: 125px;
  margin-bottom: 50px;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.04em;
  color: #7a7d85;
}
.close-btn {
  font-weight: 900;
  background: transparent;
  border: none;
  position: absolute;
  top: 15px;
  right: 20px;
}
.login,
.register {
  z-index: 1100;
  display: flex;
  flex-direction: column;
  width: 500px;
  margin-top: 150px;
  margin-left: 23px;
}
.login h1,
.register h1 {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #fc842d;
  margin-bottom: 65px;
}

.login input,
.register input {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.04em;

  border: none;
  background: transparent;
  color: #9b9faa;
  outline: none;
  border-bottom: 1px solid #e0e0e0;
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 15px;
}
.login-orange-btn {
  margin-right: 30px;
  border: none;
  margin-top: 70px;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  border-radius: 30px;
  padding: 13px 48px;
  width: 181px;
  height: 44px;
  box-shadow: 0 4px 10px 0 rgba(252, 132, 45, 0.5);
  background: #fc842d;
}
.login-white-btn {
  border: 2px solid #fc842d;
  border-radius: 30px;
  padding: 13px 34px;
  width: 182px;
  height: 44px;
  background: #fff;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fc842d;
}
.container-aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 517px;
  background: #f0f1f3;
  height: 100vh;
  position: absolute;
  right: 0;
  top: 0;
  background-image: url("/Layer-aside.png");
}

@media screen and (min-width: 600px) and (max-width: 1080px) {
  .container {
    background-image: url("/Layer-4 1.png"), url("/Banana.png"),
      url("/Strawberry.png"), url("/Vector3.png");
    background-repeat: no-repeat;
    background-size: 500px 600px, 600px 500px, 250px 280px, 521px 563px;
    background-position: left bottom, right bottom, right center, bottom right;
  }
  .header {
    margin: 0;
    justify-content: space-between;
    border-bottom: 2px solid #e0e0e0;
    padding-bottom: 16px;
  }
  .header a:nth-child(2) {
    margin-right: -300px;
  }
  .header a:nth-child(3) {
    margin-right: 40px;
  }
  .calculator-container {
    margin-top: 60px;
  }

  .container-aside {
    flex-direction: row;

    right: unset;
    top: unset;
    bottom: 0;
    width: 100%;
    height: 326px;
  }
  .content {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
}
@media screen and (max-width: 599px) {
  .container {
    background-image: none;
    height: 100vh;
  }
  .header {
    margin: 0;
    border-bottom: 2px solid #e0e0e0;
    padding: 20px;
  }
  .header a {
    font-size: 13px;
  }
  .calculator-container {
    margin-top: 50px;
  }
  .calculator-container h1 {
    font-size: 26px;
  }
  .form-calculator label {
    font-size: 18px;
  }
}
